{% extends "layout.html" %}

{% block title %}Tournament Game{% endblock %}

{% block content %}

    {% set teamBlue = game.key.get().teamBlue.get() %}
    {% set teamRed  = game.key.get().teamRed.get() %}

    <div>
        <h2>Game #{{ game.key.id() }}</h2>
        <div>
            <div style="float:left; width:250px;">
                <div style="float:left; margin:10px;">
                    <a class="btn " href="/tournaments/{{ tournament.key.id() }}/games/{{ game.key.id() }}/scores/new/player/{{ game.key.get().teamBlue.get().playerAtt.id() }}">
                        <div id="blueAttPlayer">{{ teamBlue.playerAtt.get().nickname }} (Att)</div>
                    </a>
                </div>
                <div style="float:left; margin:10px;">
                    <a class="btn" href="/tournaments/{{ tournament.key.id() }}/games/{{ game.key.id() }}/scores/new/player/{{ game.key.get().teamBlue.get().playerDef.id() }}">
                        <div id="blueDefPlayer">{{ teamBlue.playerDef.get().nickname }} (Def)</div>
                    </a>
                </div>
            </div>
            <div class="team blue" style="margin:10px;">
                {{ totalScoreBlue }}
            </div>

            <div style="clear:both;"></div>

            <div style="float:left; width:250px;">
                <div style="float:left; margin:10px;">
                    <a class="btn" href="/tournaments/{{ tournament.key.id() }}/games/{{ game.key.id() }}/scores/new/player/{{ game.key.get().teamRed.get().playerAtt.id() }}">
                        <div id="redAttPlayer">{{ teamRed.playerAtt.get().nickname }} (Att)</div>
                    </a>
                </div>
                <div style="float:left; margin:10px;">
                    <a class="btn" href="/tournaments/{{ tournament.key.id() }}/games/{{ game.key.id() }}/scores/new/player/{{ game.key.get().teamRed.get().playerDef.id() }}">
                        <div id="redDefPlayer">{{ teamRed.playerDef.get().nickname }} (Def)</div>
                    </a>
                </div>
            </div>
            <div class="team red" style="margin:10px;">
                {{ totalScoreRed }}
            </div>
        </div>
    </div>

    <div>
        <br/>
    </div>

    <div>
        Goals:
        <ol>
            {% set scoreBlue = 0 %}
            {% set scoreRed  = 0 %}

            {% for s in scores %}
                <li>
                    {% if s.game.get().teamBlue == s.team %}
                        {% set teamColour = "blue" %}
                        {% set scoreBlue = scoreBlue + 1 %}
                    {% else %}
                        {% set teamColour = "red" %}
                        {% set scoreRed = scoreRed + 1 %}
                    {% endif %}

                    <span class="score {{ teamColour }}">+1</span>
                    <span class="player">{{ s.player.get().nickname }}</span>

                    <span class="score blue">{{ scoreBlue }}</span>
                    <span class="">:</span>
                    <span class="score red">{{ scoreRed }}</span>
                    {#<span class="player">{{ scoreBlue }} : {{ scoreRed }}</span>#}
                </li>
            {% endfor %}
            {#<div>
                <a href="/tournaments/{{ tournament.key.id() }}/games/{{ game.key.id() }}/scores/new">add new</a>
            </div>#}
        </ol>
    </div>


{% endblock %}