{% extends "layout.html" %}

{% block title %}Create a Game Score{% endblock %}

{% block content %}
    <h1 id="">Create a Game Score</h1>

    <form action="/tournaments/{{ form.tournament.key.id() }}/games/{{ form.game.key.id() }}/scores/new/player/{{ form.player.key.id() }}" method="post" accept-charset="utf-8">
        {{ form.csrf_token }}
        <p>
            <label for="player">Player</label>
            <span id="player">{{ form.player.nickname }}</span>
        </p>
        <p>
            <label for="ownGoal">{{ form.ownGoal.label }}</label>
            <input id="ownGoal"  type="checkbox" {% if form.ownGoal.data == True %} checked="checked" {% endif %} />
            {#{{ form.ownGoal|safe }}#}
        </p>
        <p>
            <input type="submit" value="Add score"/>
        </p>
    </form>
{% endblock %}