{% extends "layout.html" %}

{% block title %}Tournaments{% endblock %}

{% block content %}
    <h3>List of ongoing tournaments</h3>
    <ul>
        {% for t in tournaments %}
            <li>
                <a href="/tournaments/{{ t.key.id() }}">
                    <b>{{ t.label }}</b>
                </a>
                {#(created on {{ t.created }})#}
            </li>
        {% endfor %}
    </ul>

    <div>
        <a href="/tournaments/new">Start new tournament</a>
    </div>

    <br/>
    <br/>
{% endblock %}